Package: com.samgisaninja.danaus
Name: danaus
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Samg_is_a_Ninja
Author: Samg_is_a_Ninja
Section: Tweaks
Version: 1.0
Installed-Size: 136
